<form method="post" enctype="multipart/form-data"
      hx-post="{% url 'editar_archivo_live' archivo.id %}"
      hx-target="#modal-body"
      hx-swap="outerHTML">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded mt-2">Guardar cambios</button>
    <button 
        type="button"
        hx-delete="{% url 'eliminar_archivo' archivo.id %}"
        hx-target="#modal"
        hx-swap="outerHTML"
        onclick="return confirm('¿Estás seguro de que deseas eliminar este archivo?')"
        class="mt-4 bg-red-600 hover:bg-red-700 text-white px-4 py-2 rounded">
        Eliminar archivo
    </button>
</form>
