{% load static %}

<aside class="w-64 bg-[#2D282C] text-white h-screen sticky top-0 left-0 z-40 px-6 py-8">
    
    <!-- Parte superior del sidebar -->
    <div>
        <nav class="mt-6">
            <ul class="space-y-1 px-4 text-base">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Dashboard</a></li>
                    <li><a href="{% url 'vista_campanas' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Campañas</a></li>
                    {% if user.is_staff or user.is_superuser %}
                        <li><a href="{% url 'users-list' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Usuarios</a></li>
                    {% elif user_profile.role == 'cliente' %}
                        <li><a href="#" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Historial</a></li>
                    {% endif %}
                    <li><a href="{% url 'lista_comentarios' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Comentarios</a></li>
                    <li>
                        {% if user.is_superuser %}
                            <a href="{% url 'tareas_superuser' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">
                                Tareas
                            </a>
                        {% elif user.is_staff %}
                            <a href="{% url 'tareas_staff' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">
                                Tareas
                            </a>
                        {% endif %}
                    </li>
                    <li><a href="{% url 'vista_archivos_live' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Archivos</a></li>
                {% else %}
                    <li><a href="{% url 'about' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Acerca de Nosotros</a></li>
                    <li><a href="{% url 'contacto' %}" class="block py-2 px-4 rounded hover:bg-[#3C3B39]">Contacto</a></li>
                {%endif%}
            </ul>
        </nav>
    </div>

    {% if user.is_authenticated %}
        <!-- Parte inferior: logout -->
        <div class="p-4 border-t border-gray-700 mt-[260px]">
            <a href="{% url 'account_logout' %}" class="flex items-center text-red-400 hover:text-white hover:bg-red-500 px-4 py-2 rounded transition">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 4.5A1.5 1.5 0 014.5 3h5a.5.5 0 010 1h-5a.5.5 0 00-.5.5v11a.5.5 0 00.5.5h5a.5.5 0 010 1h-5A1.5 1.5 0 013 15.5v-11zM11.854 10.354a.5.5 0 000-.708L9.707 7.5a.5.5 0 10-.707.708L10.293 10l-1.293 1.293a.5.5 0 10.707.707l2.147-2.146z" clip-rule="evenodd" />
                </svg>
                Cerrar sesión
            </a>
        </div>
    {% endif %}
</aside>
